.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    transition: $default-transition;
    position: relative;
    font-size: $default-font-size;
    border: none;
    cursor: pointer;
    font-weight: $light-weight;
    background-color: $color-white-gradient;
    color: $color-secondary-dark;
    padding: 1.5rem 4rem;
  }

  &:hover,
  &:focus,
  &:focus {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2.5rem rgba($color-black, 0.2);
    outline: none;
    box-shadow: none;
    background-color: $color-primary;
    color: $color-white;
    transform: translateY(0) scale(1.05);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    background-color: $color-white-gradient;
  }

  &--dark {
    background-color: $color-secondary-dark2;
    color: $color-white;
    padding: 1.5rem 4rem;
    transition: all 0.4s;

    &::after {
      background-color: $color-secondary-dark2;
      color: $color-white;
    }

    &:hover,
    &:active,
    &:focus {
      outline: none;
      box-shadow: none;
      background-color: $color-white-gradient;
      color: $color-secondary-dark;
      transform: translateY(0) scale(1.05);
    }
  }

  &--animated {
    animation: 0.5s ease-out 0.75s moveInBottom;
    animation-fill-mode: backwards;
  }
}
