.footer {
  background-color: $color-secondary-dark;
  padding: 2rem 0;

  @include respond(phone) {
    padding: 6rem 0;
  }

  .menu-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  .menu-list {
    list-style: none;
    display: block;
    &-item {
      display: inline-block;
      margin-right: 1.5rem;
      font-size: $default-font-size;
      font-weight: $light-weight;
      color: white;
      transition: transform 0.3s;
      &:hover {
        transform: translateY(-0.8rem) scale(1.15);
      }
    }
  }

  .text-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  &-text {
    font-size: $default-font-size;
    font-weight: $light-weight;
    color: white;
  }
}

.footer-row {
  // height: 9rem;
  display: flex;
  flex-direction: row;

  @include respond(phone) {
    flex-direction: column;
  }
  @include respond(tab-port) {
    flex-direction: column;
  }
}

.footer-logo-box {
  text-align: center;
  margin-bottom: 2rem;
  display: block;
}

.footer-logo {
  width: 7rem;
  height: auto;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.12);
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
  }
}
